body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.article-container {
  background-color: white;
  width: 610px;
  height: 240px;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
}

.image-container {
  flex-basis: 43%;
  background-color: teal;
  overflow: hidden;
}
.image {
  max-height: 100%;
}

.information-container {
  flex-basis: 57%;
  padding: 2em;
}
.header-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.paragraph {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.profile-banner {
  display: flex;
  justify-content: space-between;
  height: 33px;
}
.avatar-information {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
}
.image-avatar-container {
  width: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.image-avatar {
  max-width: 100%;
}
.info-avatar {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-avatar > p {
  margin: 0;
}
.info-avatar > p:first-child {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.info-avatar > p:last-child {
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.share-icon-container {
  align-self: center;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.share-icon {
  padding: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
