body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(210, 46%, 95%);
  font-family: "Manrope", sans-serif;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.article-container {
  background-color: white;
  width: 620px;
  height: 240px;
  border-radius: 0.5em;
  overflow: visible;
  display: flex;
}

.image-container {
  flex-basis: 43%;
  overflow: hidden;
}
.image {
  max-height: 100%;
}

.information-container {
  flex-basis: 57%;
  flex-direction: column;
  padding: 1.6em;
}
.header-text {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.paragraph {
  font-size: 0.8rem;
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.profile-banner {
  display: flex;
  justify-content: space-between;
  height: 33px;
}
.avatar-information {
  min-width: 140px;
  display: flex;
  justify-content: space-between;
}
.image-avatar-container {
  width: 33px;
  border-radius: 50%;
  overflow: hidden;
}
.image-avatar {
  max-width: 100%;
}
.info-avatar {
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.info-avatar > p {
  margin: 0;
}
.info-avatar > p:first-child {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.info-avatar > p:last-child {
  font-weight: 500;
  color: hsl(214, 17%, 51%);
}

.share-icon-container {
  align-self: center;
  background-color: hsl(210, 46%, 95%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
.share-icon {
  padding: 0.5em;
}
.share-icon-container:hover {
  background-color: hsl(217, 19%, 35%);
}
.share-icon:hover {
  filter: brightness(100);
}

/* Tooltip */

[data-tooltip] {
  position: relative;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translate(-50%, calc(-100% - 0.5rem));
  background-color: hsl(214, 17%, 51%);
  color: white;
  padding: 0.5em 1.5em;
  border-radius: 0.3em;
  width: max-content;
  /*   max-width: 100%;
 */
  text-align: center;
}

[data-tooltip]::after {
  content: "";
  position: absolute;
  border: 0.5rem solid transparent;
  border-top-color: hsl(214, 17%, 51%);
  transform: translate(-50%, -1.2rem);
  left: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
